/* Preload images */
body:after {
  content: url(../../images/arr.png) url(../../img/loading.gif) url(../../img/prev.png) url(../../img/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;

  .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;*/
    border-radius: 0;
  }

  a img {
    border: none;
  }
}


.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: #fff url(../../images/close.gif) center center no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    transition: opacity 0.2s;

    position:absolute;
    right: -30px;
    top: 0;
    z-index: 999;

    &:hover {
      cursor: pointer;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }
}

.lb-container {
  padding: 10px;

  > .nav {
    left: 0;
  }
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../images/loading.gif) no-repeat;
}

.lb-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    &.lb-prev {
      width: 48%;
      left: 0;
      margin-left: 30px;
      float: left;
      cursor: default;
      span {
        display: block;
        width: 35px;
        height: 100%;
        background: url(../../images/arrows_white.png) left 48% no-repeat;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0.3;
        transition: opacity 0.6s;
        cursor: pointer;
        &:hover {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1;
        }
      }
    }
  }
}


.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav {
  a.lb-next {
    width: 48%;
    right: 0;
    margin-right: 30px;
    float: right;
    cursor: default;
    span {
      display: block;
      width: 35px;
      height: 100%;
      background: url(../../images/arrows_white.png) right 48% no-repeat;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0.3;
      transition: opacity 0.6s;
      float: right;
      cursor: pointer;
      &:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
      }
    }
  }
}



.lb-dataContainer {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.lb-data {
  padding: 0 4px;
  color: #ccc;

  .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
    margin-left: 5px;
  }
  .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    color: #222;
  }

  .lb-number {
    display: none;
    visibility: hidden;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }

  .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../../images/close.gif) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    transition: opacity 0.2s;

    position:absolute;
    right: 0;
    top: 0;

    &:hover {
      cursor: pointer;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }
}
